#Summary:-
##Multi Assignment of Variables
##User Input:- How to take User Input
##Type Casting 
##Type Conversion
(String to Integer, Float to Integer, Integer to Float, Integer to Boolean, String to Boolean, Empty String to Boolean, Empty String to Boolean:- with space, Empty String to Integer)
##Memory Block

##Multi Assignment of Variables:-

In [4]:
a, b, c, yes = 15, 22.3, "Dipanjan", True

type(a)

int

In [6]:
type(b)

float

In [7]:
type(c)

str

In [8]:
type(yes)

bool

In [9]:
type(a, b, c, yes)

TypeError: ignored

In [10]:
type(a, b, c)

TypeError: ignored

In [12]:
type(a)  #Its take only One Argument

int

In [13]:
type(a)  # if you do like this, it will give you only Last One
type(b)
type(c)
type(yes)

bool

In [14]:
print(a, b, c, yes)

15 22.3 Dipanjan True

###Multi Assignment of Variables:- Example 01 => Create Email ID

In [41]:
firstName, middleName, lastName = "Dipanjan", "Chandra", "Das"
print(f"{firstName}.{lastName}@gmail.com")

Dipanjan.Das@gmail.com

###Multi Assignment of Variables:- Example 02 =>

In [43]:
name, place, year_of_birth, weight = "Dipanjan", "West Bengal", 1992, 66
print(f"""
My Name is: {name}
I Live at: {place}
I was Born in: {year_of_birth}
My Weight is: {weight} in kgs""")

My Name is: Dipanjan
I Live at: West Bengal
I was Born in: 1992
My Weight is: 66 in kgs

##User Input:- How to take User Input

In [17]:
name = input("Enter your Name: ")
print(f"You have entered: {name}")

Enter your Name: Dipanjan Das
You have entered: Dipanjan Das

##Type Casting | Type Conversion:-
We can convert the one Data type to anather if it is allowed.

In [23]:
A = int(input("Enter Value of A: "))
B = int(input("Enter Value of B: "))
print(type(A), type(B))
print(f"Sum of A and B is: {A+B}")

Enter Value of A: 12
Enter Value of B: 14
<class 'int'> <class 'int'>
Sum of A and B is: 26

Sum of A and B is: 26

In [22]:
A = float(input("Enter Value of A: "))
B = float(input("Enter Value of B: "))
print(f"Sum of A and B is: {A+B}")

Enter Value of A: 12.6
Enter Value of B: 18.12
Sum of A and B is: 30.72

In [24]:
A = float(input("Enter Value of A: "))
B = int(input("Enter Value of B: "))
print(f"Sum of A and B is: {A+B}")

Enter Value of A: 12.5
Enter Value of B: 14
Sum of A and B is: 26.5

##Type Conversion:-

###String to Integer

In [28]:
A = "50"
int(A)

50

In [29]:
A = "50.22"  #Entering Float in String and convert to integer is not allowed.
int(A)

ValueError: ignored

###Float to Integer:-

In [30]:
A = 50.22
int(A)

50

###Integer to Float:-

In [31]:
A = 50
float(A)

50.0

###NOTE:- Converting any non-zero number and string values into Boolean will give True. 
###NOTE:- Empty String will give False after converting String to Boolean.

###Integer to Boolean:-

In [32]:
A = 50
bool(A)

True

In [33]:
A = 0
bool(A)

False

In [34]:
A = -6
bool(A)

True

In [35]:
A = 6.5
bool(A)

True

###String to Boolean:-

In [36]:
A = "Dipanjan"
bool(A)

True

In [37]:
A = "True"
bool(A)

True

In [38]:
A = "False"  #It reading it as String
bool(A)

True

###Empty String to Boolean:-

In [39]:
A = ""  
bool(A)

False

###Empty String to Boolean:- with space

In [44]:
A = " "    #Empty String with Space
bool(A)

True

###Empty String to Integer:-

In [40]:
A = ""  
int(A)

ValueError: ignored

###Memory Block :- Memory Location

In [45]:
a = 22
b = 34
c = 22
id(a)   #Memory Location

140472839945168

In [46]:
id(b)

140472839945552

In [47]:
id(c)

140472839945168

In [48]:
print(id(a), id(b), id(c))

140472839945168 140472839945552 140472839945168

###NOTE:- Memory is assigned to the value of variable passed. Not the Variable Name